{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container background">
            <div id="welcome">
                <h1>People pass in by Daluz</h1>
                <p>Here i make i databases with symfony and mysql<br>I can see how can pass or how </p>
            </div>
            <div class="row" >

                <h1 class="text-center">The Prices</h1>

                    <div class="col-md-6">
                        {% for cost in prices %}
                            <p>People: {{ cost.people }}€</p>
                            <p>Power: {{ cost.power }} €</p>

                        {% endfor %}
                    </div>

                    <div class="col-md-6">
                        {% for cost in prices %}
                            <p>Tent: {{ cost.tent }} €</p>
                            <p>Tent Rent: {{ cost.tentRent }} €</p>
                            <p>Caravan: {{ cost.caravan }} €</p>
                            <p>Caravan Rent : {{ cost.caravanRent }} €</p>
                        {% endfor %}
                    </div>

            </div>
        </div>
    </div>
{% endblock %}
