{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Lastname</th>
                <th>Position</th>
                <th>Arrival</th>
                <th>Departure</th>
                <th>Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>

                <td>{{ person.name }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.position }}</td>
                <td>{{ person.arrival|date("m/d/Y") }}</td>
                <td>{{ person.departure|date("m/d/Y") }}</td>
                <td>{{ person.info }}</td>
                <td>


                            <a href="{{ path('people_show', { 'id': person.id }) }}" class="btn btn-primary">show</a>

                            <a href="{{ path('people_edit', { 'id': person.id }) }}" class="btn btn-primary">edit</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('people_new') }}" class="btn btn-primary">Create a new person</a>

{% endblock %}
