{% extends 'base.html.twig' %}

{% block body %}
    <div class="background">
    <h1>People list</h1>
    <div class="pull-right" >
        <form action="{{ path('people_index') }}" method="get" >
            <label for="filter">Search</label>
            <input name="filter" type="text" >
            <button type="submit" class="btn btn-primary">Search</button>

            <br>
            <button class="pull-right button"><a href="{{ path('people_index') }}">Reset</a></button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Lastname</th>
                <th>Position</th>
                <th>Arrival</th>
                <th>Departure</th>
                <th>Info</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for person in pagination %}

            <tr>

                <td>{{ person.name }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.position }}</td>
                <td>{{ person.arrival|date("m/d/Y")}}</td>
                <td>{{ person.departure|date("m/d/Y") }}</td>
                <td>{{ person.info }}</td>
                <td>{{ person.email }}</td>
                <td>


                            <a href="{{ path('people_show', { 'id': person.id }) }}" class="btn btn-primary">show</a>

                            <a href="{{ path('people_edit', { 'id': person.id }) }}" class="btn btn-primary">edit</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('people_new') }}" class="btn btn-primary">Create a new person</a>
    </div>
{% endblock %}
