{% extends 'base.html.twig' %}


{% block body %}
    <h1>Camper Cost</h1>

    <p>They arrive at:  {{ days.arrival|date('Y-m-d') }} </p>
    <p>They left at:  {{ days.departure |date('Y-m-d')}} </p>
    <p>They stay in {{ days.stay }} </p>
    <p><b>The people that stay: </b>{{ days.manyPeople }} people </p>

    {% if days.parking ==true %}
    {% set parking = 3.5 %}
    <span>Parking : yes </span>
    {% else %}
    {% set parking = 0 %}
    <span>Parking : No</span>
    {% endif %}

    {# endDate and startDate are strings or DateTime objects #}
    {% set difference = date(days.departure).diff(date(days.arrival)) %}
    {% set leftDays = difference.days %}
    {% if leftDays == 1 %}
        1 day
    {% else %}
        <p><b>The days that left:</b>  {{ leftDays }} days </p>
    {% endif %}
    <br>
    <p>The total cost is{% set result = leftDays *( days.manyPeople + 3.5 + parking ) %}
        {{ result }}</p>







    <a href="{{ path('people_index') }}"class="btn btn-primary">Back to the list</a>





{% endblock %}
