{% extends 'base.html.twig' %}


{% block body %}
    <div class="container text-center background">
        <div class="row">

    <h1>Camper Cost</h1>
<div class="col-md-12">
    <p><b>They arrive at:</b>  {{ days.arrival|date('Y-m-d') }} </p>
    <p><b>They left at:</b>  {{ days.departure |date('Y-m-d')}} </p>
    <p><b>They stay in</b> {{ days.stay }} </p>
    <p><b>The people that stay: </b>{{ days.manyPeople }} people </p>
    {% if days.stay =='tent' %}
        {% set cost_stay = tent %}
    {% elseif days.stay == 'tentRent' %}
        {% set cost_stay = tentRent %}
    {% elseif days.stay == 'caravan' %}
        {% set cost_stay = caravan %}
    {% else %}
        {% set cost_stay =  caravanRent  %}
    {% endif %}

    {% if days.parking ==true %}
    {% set parking = 3 %}
        <p><b>Parking : </b>yes</p>
    {% else %}
    {% set parking = 0 %}
        <p><b>Parking : </b>No</p>
    {% endif %}
    <p>{{ tent }}</p>
    {# endDate and startDate are strings or DateTime objects #}
    {% set difference = date(days.departure).diff(date(days.arrival)) %}
    {% set leftDays = difference.days %}
    {% if leftDays == 1 %}
        <p><b>The days that stay:</b>  {{ leftDays }} days </p>
    {% else %}
        <p><b>The days that left:</b>  {{ leftDays }} days </p>
    {% endif %}
    <br>
    <p>The total cost is
        {% set result = leftDays *( (days.manyPeople * 6) + cost_stay + 3.5 + parking ) %}
        :<b> {{ result }} Euro</b></p>

</div>





    <a href="{{ path('people_index') }}"class="btn btn-primary ">Back to the list</a>


</div>
    </div>


{% endblock %}
