{% extends 'base.html.twig' %}
{% block title %}Desplay Campers{% endblock %}
{% block body%}
<div class="background">
<h2 class="text-center" >Campers Passing</h2>
    {#<div class="pull-right">

        {{ form_start(form, { attr: { class: 'form-inline'}} ) }}
        {{ form_widget(form.search, {attr: {placeholder:'Search'}} )}}
        {{ form_errors(form.search) }}
        <button type="submit" class="btn" >Search</button>
        {{ form_end(form) }}
        <br>
    </div>#}
    {# total items count #}
	<div class="pull-right" >
		<form action="{{ path('desplay') }}" method="get" >
			<label for="filter">Search</label>
			<input name="filter" type="text" >
			<button type="submit" class="btn btn-primary">Search</button>

			<br>
			<button class="pull-right button"><a href="{{ path('desplay') }}">Reset</a></button>
		</form>
	</div>
	<br>

	<div class="count">
		<p>The number of Passing People : {{ pagination.getTotalItemCount }} </p>
	</div>
<table  class="table">
<tr >
	<th><h3>{{ knp_pagination_sortable(pagination, 'Name', 'bp.name') }}</h3></th>
			<th><h3>{{ knp_pagination_sortable(pagination, 'Last Name', 'bp.lastName') }} </h3> </th>
			<th><h3>{{ knp_pagination_sortable(pagination, 'Position', 'bp.position') }}</h3></th>
			<th><h3>How Many People</h3></th>
			<th><h3>{{ knp_pagination_sortable(pagination, 'Arrival', ['bp.arrival']) }}</h3></th>
			<th><h3>Departure</h3></th>
			<th><h3>Info</h3></th>
			<th><h3>Cost</h3></th>

		</tr>

		{% for person in pagination %}
			<tr>
				<th>{{ person.name }}</th>
				<th>{{ person.lastName }}</th>
				<th>{{ person.position }}</th>
				<th >{{ person.manyPeople }}</th>
				<th>{{ person.arrival | date('d-m-Y') }}</th>
				<th>{{ person.departure|date('d-m-Y') }}</th>
				<th> <a href=" {{ url('person', {id: person.id})}} ">Show more</a> </th>
				<th> <a href=" {{ url('cost', {id: person.id})}} ">Show Cost</a> </th>

			</tr>

		{% endfor %} 

</table>
<a href=" {{ url('homepage') }}" class="btn btn-primary">Return</a>
    {# display navigation #}
	<div class="navigation text-center ">
        {{ knp_pagination_render(pagination) }}
	</div>

</div>
{% endblock %}
